<div class="contact-cnt">
	<span class="contact-span">kontakta oss!</span>
	<div class="contact-card">
		<span class="ange">Kontakta oss vid eventuella frågor eller om du vill ge
			synpukter på hur vi kan förbättra oss.</span>
		<form action="/kontakt" method="post" class="contact-form">
			<input type="text" name="namn" placeholder="Namn" class="contact-input" />
			<input
				type="email"
				name="email"
				placeholder="Email"
				class="contact-input"
			/>
			<textarea
				placeholder="Ditt meddelande"
				name="kontakt"
				class="contact-text"
				cols="30"
				rows="10"
			></textarea>
			<input type="button" value="skicka" class="contact-btn" />
		</form>
	</div>
</div>