<div class="admin-login-cnt">
	<span class="admin-login-user">Admin Login</span>
	<div class="admin-login-card">
		<form action="/admin" method="post" class="admin-login-form">
			<input
				class="admin-login-input"
				type="text"
				name="username"
				placeholder="Användarnamn"
			/>
			<input
				class="admin-login-input"
				type="password"
				name="password"
				placeholder="Lösenord"
			/>
			<input type="submit" value="Logga in" class="admin-login-btn" />
		</form>
		<span class="error-msg-login">{{error}}</span>
	</div>
</div>