<div class="admin-profile-cnt">

	<span class="din-admin">DINA UPPGIFTER</span>

	<div class="admin-profile-card">

		<span class="admin-info"><b>Användarnamn: </b> {{username}}</span>

	</div>

	<span class="admin-your-bookings">dina bokningar:</span>

	<div class="admin-booking-card">

		<h2>INSERT BOKNING HÄR</h2>
	</div>

</div>