<div class="header"></div>
<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu" />
<label for="openSidebarMenu" class="sidebarIconToggle">
	<div class="spinner diagonal part-1"></div>
	<div class="spinner horizontal"></div>
	<div class="spinner diagonal part-2"></div>
</label>
<div id="sidebarMenu">
	<ul class="sidebarMenuInner">
		<li>användarnamn <span>ditt Konto</span></li>
		<li><a href="#">boka en städning</a></li>
		<li><a href="/anvandare/logga-in">logga In</a></li>
		<li><a href="#">logga ut</a></li>
		<li><a href="#">kontakta oss</a></li>
	</ul>
</div>