<div class="container">
	<div class="box">

		<div class="title">
			<span class="block"></span>
			<h1>St채da Fint AB<span></span></h1>
		</div>

		<div class="role">
			<div class="block"></div>
			<p>hj채lp oss hj채lpa dig!</p>
		</div>

	</div>
</div>
{{#if isLoggedIn}}
	<a href="/kontakt">
		<footer>
			<div class="texto">
				<span>kontakta oss</span>
			</div>
		</footer>
	</a>
{{else}}
	<a href="/anvandare/registrera">
		<footer>
			<div class="texto">
				<span>registrera ny anv채ndare</span>
			</div>
		</footer>
	</a>
{{/if}}