<div class="booking">
  <h2 class="text1">Boka städning</h2>
  <h3 class="text2">Personuppgifter</h3>
  <form class="booking-form" action="" method="post">
    <input
      class="booking-input"
      type="text"
      name="email"
      placeholder="E-mail"
    />
    <input
      class="booking-input"
      type="text"
      name="firstname"
      placeholder="Förnamn"
    />
    <input
      class="booking-input"
      type="text"
      name="lastname"
      placeholder="Efternamn"
    />
    <input
      class="booking-input"
      type="text"
      name="address"
      placeholder="Address"
    />
    <input
      class="booking-input"
      type="number"
      name="zip"
      placeholder="Postnummer"
    />
    <input class="booking-input" type="text" name="city" id="Ort" />
    <input class="booking-input" type="date" name="date" placeholder="" />
    <input class="booking-input" type="time" name="time" id="" />
  </form>
  <h3 class="text2">Betalning</h3>
  <form class="payment-form" action="" method="post">
    <input
      class="booking-input"
      type="text"
      name="card-name"
      placeholder="Namn på kortet"
    />
    <input
      class="booking-input"
      type="number"
      name="card-number"
      placeholder="Kortnummer"
    />
    <input
      class="booking-input"
      type="number"
      name="card-date"
      placeholder="Utgångsdatum"
    />
    <input
      class="booking-input"
      type="number"
      name="card-cvv"
      placeholder="CVV"
    />
    <input class="booking-btn" type="submit" value="Slutför bookning" />
  </form>
</div>