<h2>Ny Användare</h2>
<h3>{{error}}</h3>
<form action="/anvandare/registrera" method="post">
	<input type="text" name="username" placeholder="Användarnamn" />
	<input type="email" name="email" placeholder="E-mail" />
	<input type="text" name="address" placeholder="Address" />
	<input type="password" name="password" placeholder="Lösenord" />
	<input
		type="password"
		name="confirmPassword"
		placeholder="Bekräfta Lösenord"
	/>
	<input type="submit" value="Register" />
</form>