<div class="register-cnt">
	<span class="new-user">REGISTRERA NY ANVÄNDARE</span>
	<div class="register-card">

		<form action="/anvandare/registrera" method="post" class="register-form">
			<input
				class="input-create"
				type="text"
				name="username"
				placeholder="Användarnamn"
			/>
			<input
				class="input-create"
				type="email"
				name="email"
				placeholder="E-mail"
			/>
			<input
				class="input-create"
				type="text"
				name="address"
				placeholder="Address"
			/>
			<input
				class="input-create"
				type="password"
				name="password"
				placeholder="Lösenord"
			/>
			<input
				class="input-create"
				type="password"
				name="confirmPassword"
				placeholder="Bekräfta Lösenord"
			/>
			<p class="gdpr-info"><input
					class="data-box"
					type="checkbox"
					name="Data"
					placeholder="data"
				/>Jag godkänner Städa Fint AB's
				<a href="anvandarvillkor"> Användarvillkor</a></p>
			<input type="submit" value="REGISTRERA" class="reg-btn" />
		</form>
		<span class="error-msg">{{error}}</span>
	</div>
</div>