<div class="users-cnt">

	<span class="info-span">din info</span>

	<div class="users-card">

		<span class="profile-info"><b>Användarnamn:</b> {{username}}</span>
		<span class="profile-info"><b>Email:</b> {{email}}</span>
		<span class="profile-info"><b>Address:</b> {{address}}</span>

	</div>

	<span class="your-bookings">dina bokningar:</span>

	<div class="booking-card">

		<h2>INSERT BOKNING HÄR</h2>
	</div>

</div>