.admin-profile-cnt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	gap: 2em;

	.din-admin {
		font-size: 3rem;
		font-weight: 700;
		color: hsl(0, 0%, 100%);
		text-transform: uppercase;
		margin: 0.5em;
	}

	.admin-profile-card {
		display: flex;
		flex-direction: column;
		background-color: hsl(0, 19%, 93%);
		border-radius: 0.8em;
		padding: 4em;
		width: 20vw;
	}

	.admin-info {
		font-size: 1.6rem;
	}

	.admin-your-bookings {
		font-size: 2rem;
		font-weight: 700;
		color: hsl(0, 0%, 100%);
		text-transform: uppercase;
		margin: 0.5em;
	}

	.admin-booking-card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: hsl(0, 19%, 93%);
		border-radius: 0.8em;
		padding: 4em;
		width: 20vw;
	}
}
