.contact-cnt {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100vw;
	height: 100vh;

	.contact-span {
		font-size: 3rem;
		font-weight: 700;
		color: hsl(0, 0%, 100%);
		text-transform: uppercase;
		margin: 0.5em;
	}

	.contact-card {
		background-color: hsl(0, 19%, 93%);
		border-radius: 0.8em;
		padding: 4em;
		width: 20vw;
	}

	.ange {
		font-size: 1.4rem;
		font-weight: 300;
	}

	.contact-form {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2em;
		margin: 2em;
		padding: 0;
	}

	.contact-input {
		border-radius: 0.4em;
		outline-style: none;
		padding: 0.4em;
		width: 20vw;
		border: 2px solid hsl(0, 0%, 76%);
		font-family: "Roboto", sans-serif;
		font-weight: 300;
	}

	.contact-text {
		border-radius: 0.4em;
		outline-style: none;
		padding: 0.4em;
		width: 20vw;
		border: 2px solid hsl(0, 0%, 76%);
		font-family: "Roboto", sans-serif;
		font-weight: 300;
		resize: none;
	}

	.contact-btn {
		justify-content: center;
		background-color: hsl(348, 97%, 63%);
		color: hsl(0, 0%, 98%);
		font-weight: 600;
		cursor: pointer;
		border: none;
		padding: 0.5em;
		box-shadow: 0px 3px 5px hsl(0, 0%, 41%);
		border-radius: 0.4em;
		text-transform: uppercase;
	}

	.contact-btn:hover {
		opacity: 0.7;
	}
}
